In [1]:
# Dependencies
import pandas as pd
import numpy as np
import csv
import os

In [2]:
# Read the data
schools_data = pd.read_csv("PyCitySchools/raw_data/schools_complete.csv")
students_data = pd.read_csv("PyCitySchools/raw_data/students_complete.csv")
district_edu_data = schools_data.merge(students_data, left_on = "name", right_on = "school",how = "inner" )
district_edu_data = district_edu_data.drop(columns = ["school"]).rename(columns = {"name_x":"School","name_y":"Student Name"})

In [3]:
# Reorder Column
reorder_column = ["Student Name","Student ID","gender","grade","reading_score","math_score","School ID","School","type","size","budget"]
district_edu_data = district_edu_data.reindex(columns = reorder_column )

In [4]:
# Total Schools
total_schools = district_edu_data["School"].nunique()
# Total Students
total_students = district_edu_data["Student ID"].count()
# Total Budget
total_budget = sum(district_edu_data.groupby("School")["budget"].mean())
# Average math score
avg_math_score = district_edu_data["math_score"].mean()
# Average Reading Score
avg_reading_score = district_edu_data["reading_score"].mean()
# % Passing Math
students_pass_math = district_edu_data[district_edu_data["math_score"] >= 70]["Student ID"].count()
math_passing_rate = (students_pass_math / total_students)*100
# % Passing Reading
students_pass_reading = district_edu_data[district_edu_data["reading_score"] >= 70]["Student ID"].count()
reading_passing_rate = (students_pass_reading / total_students)*100
# Overall Passing Rate
students_pass_both =district_edu_data[(district_edu_data["reading_score"] >= 70) & (district_edu_data["math_score"] >= 60)]["Student ID"].count()
both_passing_rate = (students_pass_both/total_students)*100

In [5]:
# District Summary
district_summary = pd.DataFrame({
    "Total Schools" : [total_schools],
    "Total Students" : [total_students],
    "Total Budget" : [total_budget],
    "Average Math Score" : [avg_math_score],
    "Average Reading Score" : [avg_reading_score],
    "% Passing Math" : ["{:.2%}".format(math_passing_rate)],
    "% Passing Reading" : ["{:.2%}".format(reading_passing_rate)],
    "Overall Passing Rate" : ["{:.2%}".format(both_passing_rate)]
}).T
district_summary.rename(columns = {0 :"District Summary" })

                      District Summary
Total Schools                       15
Total Students                   39170
Total Budget                  24649428
Average Math Score             78.9854
Average Reading Score          81.8778
% Passing Math                7498.09%
% Passing Reading             8580.55%
Overall Passing Rate          7974.47%

In [26]:
# School Name
school_name = district_edu_data["School"].unique()
# School Type
school_type = []
for name in school_name:
    school_type.append(district_edu_data[district_edu_data["School"] == name]["type"].unique()[0])
# Total Students
Total_Students = district_edu_data.groupby("School")["Student ID"].count()
# Total School Budeget
Total_School_Budget = district_edu_data.groupby("School")["budget"].mean()
# Per Student Budget
Per_Student_Budget = Total_School_Budget/Total_Students
# Average math score
avg_math_score = district_edu_data.groupby("School")["math_score"].mean()
# Average reading score
avg_reading_score= district_edu_data.groupby("School")["reading_score"].mean()
# Math Passing Rate 
math_passing_rate = district_edu_data[district_edu_data["math_score"] >= 70].groupby("School")["Student ID"].count()/Total_Students
# Reading Passing Rate 
reading_passing_rate = district_edu_data[district_edu_data["reading_score"] >= 70].groupby("School")["Student ID"].count()/Total_Students
# Both Passing Rate 
boss_passing_rate = district_edu_data[(district_edu_data["reading_score"] >= 70) & (district_edu_data["math_score"] >= 70)].groupby("School")["Student ID"].count()/Total_Students

In [41]:
# School Summary
School_Summary = pd.DataFrame({
    "Total Students" : Total_Students,
    "Total School Budeget" : Total_School_Budget,
    "Per Student Budget" : Per_Student_Budget,
    "Average Math Score" : avg_math_score,
    "Average Reading Score" : avg_reading_score,
    "% Passing Math" : ["{:.2%}".format(passing_rate) for passing_rate in math_passing_rate],
    "% Passing Reading" : ["{:.2%}".format(passing_rate) for passing_rate in reading_passing_rate ],
    "Overall Passing Rate" : ["{:.2%}".format(passing_rate) for passing_rate in boss_passing_rate ]
})
School_Summary

,Total Students,Total School Budeget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School,,,,,,,,
Bailey High School,4976,3124928,628.0,77.048432,81.033963,66.68%,81.93%,54.64%
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.13%,97.04%,91.33%
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.99%,80.74%,53.20%
Ford High School,2739,1763916,644.0,77.102592,80.746258,68.31%,79.30%,54.29%
Griffin High School,1468,917500,625.0,83.351499,83.816757,93.39%,97.14%,90.60%
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.75%,80.86%,53.53%
Holden High School,427,248087,581.0,83.803279,83.814988,92.51%,96.25%,89.23%
Huang High School,2917,1910635,655.0,76.629414,81.182722,65.68%,81.32%,53.51%
Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.06%,81.22%,53.54%
Pena High School,962,585858,609.0,83.839917,84.044699,94.59%,95.95%,90.54%
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.37%,80.22%,52.99%
Shelton High School,1761,1056600,600.0,83.359455,83.725724,93.87%,95.85%,89.89%
Thomas High School,1635,1043130,638.0,83.418349,83.848930,93.27%,97.31%,90.95%
Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.87%,96.54%,90.58%
Wright High School,1800,1049400,583.0,83.682222,83.955000,93.33%,96.61%,90.33%

In [48]:
# Top Performing Schools
top_schools = School_Summary.sort_values(["Overall Passing Rate"],ascending = False).head(5)
top_schools

,Total Students,Total School Budeget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School,,,,,,,,
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.13%,97.04%,91.33%
Thomas High School,1635,1043130,638.0,83.418349,83.848930,93.27%,97.31%,90.95%
Griffin High School,1468,917500,625.0,83.351499,83.816757,93.39%,97.14%,90.60%
Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.87%,96.54%,90.58%
Pena High School,962,585858,609.0,83.839917,84.044699,94.59%,95.95%,90.54%

In [49]:
# Tail Performing Schools
tail_schools = School_Summary.sort_values(["Overall Passing Rate"],ascending = True).head(5)
tail_schools

,Total Students,Total School Budeget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School,,,,,,,,
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.37%,80.22%,52.99%
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.99%,80.74%,53.20%
Huang High School,2917,1910635,655.0,76.629414,81.182722,65.68%,81.32%,53.51%
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.75%,80.86%,53.53%
Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.06%,81.22%,53.54%

,Student Name,Student ID,gender,grade,reading_score,math_score,School ID,School,type,size,budget
0,Paul Bradley,0,M,9th,66,79,0,Huang High School,District,2917,1910635
1,Victor Smith,1,M,12th,94,61,0,Huang High School,District,2917,1910635
2,Kevin Rodriguez,2,M,12th,90,60,0,Huang High School,District,2917,1910635
3,Dr. Richard Scott,3,M,12th,67,58,0,Huang High School,District,2917,1910635
4,Bonnie Ray,4,F,9th,97,84,0,Huang High School,District,2917,1910635

In [55]:
# Math Scores by Grade
math_by_grade = pd.DataFrame(district_edu_data.groupby(["School","grade"])["math_score"].mean())
math_by_grade

                             math_score
School                grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

In [56]:
# Reading Scores by Grade
math_by_grade = pd.DataFrame(district_edu_data.groupby(["School","grade"])["reading_score"].mean())
math_by_grade

                             reading_score
School                grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

In [110]:
# Reformatting School Summary
# Scores by School Spending
# School Summary
School_Summary = pd.DataFrame({
    "District" : school_type,
    "Total Students" : Total_Students,
    "Total School Budeget" : Total_School_Budget,
    "Per Student Budget" : Per_Student_Budget,
    "Average Math Score" : avg_math_score,
    "Average Reading Score" : avg_reading_score,
    "% Passing Math" : math_passing_rate,
    "% Passing Reading" : reading_passing_rate,
    "Overall Passing Rate" : boss_passing_rate
})
School_Summary

,District,Total Students,Total School Budeget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,District,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,Charter,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,Charter,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,Charter,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,Charter,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,District,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,District,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,District,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

In [111]:
# Add Budget Level
max_spending = School_Summary["Per Student Budget"].max()
min_spending = School_Summary["Per Student Budget"].min()
bins = list(np.linspace(min_spending,max_spending,4,dtype = int))
labels = ["Level 1","Level 2","Level 3"]
School_Summary["Budget Level"] = pd.cut(School_Summary["Per Student Budget"],bins = bins, labels = labels)

In [112]:
# Add School Size Level
max_students = School_Summary["Total Students"].max()
min_students = School_Summary["Total Students"].min()
bins = list(np.linspace(min_students,max_students,4,dtype = int))
labels = ["Small","Medium","Large"]
School_Summary["School Size"] = pd.cut(School_Summary["Total Students"],bins = bins, labels = labels)

In [113]:
# Score by School Spending
School_Summary.groupby("Budget Level")[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Budget Level,,,,,
Level 1,83.476713,83.867873,0.934599,0.964396,0.901968
Level 2,81.413283,82.965140,0.848890,0.916727,0.785941
Level 3,77.866721,81.368774,0.703473,0.829956,0.588587

In [114]:
# Score by School Size
School_Summary.groupby("School Size")[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small,83.452223,83.894482,0.937655,0.966499,0.906080
Medium,78.429493,81.769122,0.734624,0.844736,0.628977
Large,77.063340,80.919864,0.664643,0.810597,0.536743

In [116]:
# Score by School type
School_Summary.groupby("District")[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
District,,,,,
Charter,80.324201,82.429369,0.798740,0.886242,0.717450
District,80.556334,82.643266,0.822592,0.898988,0.750291